.fa_2_g_0 {
  translate: 0% 25%;
  rotate: 90deg;
  scale: 0.5;
}

.fa_2_g_1 {
  translate: 0% 25%;
  rotate: -90deg;
  scale: 0.5;
}

.fa_2_g_2 {
  translate: 0% 25%;
  rotate: 0deg;
  scale: 0.5;

}

.fa_2_g_root_0 {
  translate: 50% 50%;
  rotate: 0deg;
}

.fa_2_g_root_1 {
  translate: 50% 50%;
  rotate: 90deg;
}

.fa_2_g_root_2 {
  translate: 50% 50%;
  rotate: 180deg;
}

.fa_2_g_root_3 {
  translate: 50% 50%;
  rotate: 270deg;
}